<!DOCTYPE html>
<html>
  <head>
    <title>My Facade Report</title>
    <link rel='stylesheet' href='/stylesheets/report.css' />
  </head>
  <body>
    <h1>My Facade Report</h1>
    <p>Welcome to Facade Report</p>
    <!-- <script type="module" src="/javascripts/report.js"></script> -->
  </body>
</html>
